# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb
*.exp
*.tlog
[Bb]in
[Dd]ebug/
[Dd]ebug.win32/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs project
*.opensdf
*.sdf
*.suo
